// способ 1
div > span {
    display: block;
    background-color: red;
    text-align: center;
    color: white;
    margin-top: 5px;
    margin-bottom: 5px;
}

// способ 2
// !можно любому слассу перезадать свои цвета, свойства
.bg-primary {
   background-color: indigo !important;
}